.auth__input {
  background-color: transparent; 
  width: 100%;
  border-style: none;
  border-bottom: 2px solid #CCCCCC;
  margin-bottom: 30px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}

.auth__input:last-of-type {
  margin-bottom: 216px;
}

.auth__input::placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}

@media screen and (max-width: 425px) {
  .auth__input:last-of-type  {
    margin-bottom: 173px;
  }
}