.auth__input {
  background-color: transparent; 
  width: 100%;
  border-style: none;
  border-bottom: 2px solid #CCCCCC;
  /*margin-bottom: 30px;*/
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  padding: 13px 0;
}

.auth__input::placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}
