@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/body/body.css);

@import url(./blocks/page/page.css);

@import url(./blocks/content/content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__infobox/header__infobox.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/header/__burger-btn/header__burger-btn.css);
@import url(./blocks/header/__burger-btn/_transformed/header__burger-btn_transformed.css);
@import url(./blocks/header/__burger-layer/header__burger-layer.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/_opened/header__menu_opened.css);

@import url(./blocks/button/button.css);
@import url(./blocks/button/_action/button_action_add.css);
@import url(./blocks/button/_action/button_action_edit.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__edit-avatar/profile__edit-avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info-container/profile__info-container.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__delete-btn/elements__delete-btn.css);
@import url(./blocks/elements/__container/elements__container.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__info/elements__info.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__like-box/elements__like-box.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);
@import url(./blocks/elements/__like/_active/elements__like_active.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_image/popup_image.css);
@import url(./blocks/popup/__box/popup__box.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-subtitle/popup__image-subtitle.css);
@import url(./blocks/popup/__info-image/popup__info-image.css);
@import url(./blocks/popup/__title/popup__title_center.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);

@import url(./blocks/submit-btn/submit-btn.css);
@import url(./blocks/submit-btn/_inactive/submit-btn_inactive.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__btn/auth__btn.css);
@import url(./blocks/auth/__signin/auth__signin.css);
@import url(./blocks/auth/__caption/auth__caption.css);
@import url(./blocks/auth/__signin-link/auth__signin-link.css);


