.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 880px;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 80%;
  }
}


@media screen and (max-width: 425px) {
  .header {
    max-width: 100%;
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}
